:root {
  --color-text: #1c1f2e;
  --color-background: #f5f7fa;
  --color-primary: #00246b;
  --color-secondary: #0077b6;
  --color-accent: #90e0ef;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
}
